---
layout: default
---

<div id="content-wrapper">  
<figure>
        <img src="{{site.baseurl}}assets/img/robbins_profile.jpg" alt="Photo of Sarah" width="200">
        <ul>
        <li><i class="fab fa-instagram"></i></li>
        <li><i class="fab fa-github"></i></li>
        <li><i class="fab fa-facebook"></i></li>
        </ul>
        <figcaption> Que Sera Sera.</figcaption>
</figure>

<h1>Sarah Robbins</h1>

<p class="grey-copy">
        I am a 2nd year Graphic Designer with a strong interest in informational design, illustration, and web, with a hunger to create my own business. My hobbies include travelling, painting, and making tea and then forgetting about it. I have a B.A [h] in Visual Arts and Art History/Visual Cultures and moved to Ireland a few months after graduating to learn more about the world and what I wanted to do with my career. Four years later, I found myself walking across Spain, and it was there (half way up a mountain, cursing myself for taking the hard route) that I came to the conclusion I was going to become a Graphic Designer. Two years later, I take pleasure in the homework I am given, and have started my own side business.  </p>

<p> Now in Second Year as a Graphic Designer, I throughouly enjoy creating for other people both through Layouts and Illustrations with excitment to learn more HTML/CSS and move into Motion Graphics.
 </p>
</div>  
